{% set title = "Matrix Finder" %}
{% includeJsResource "matrixFinder/js/index.js" %}
{% includeCssResource "matrixFinder/css/styles.css" %}

{% extends '_layouts/cp' %}
{% set content %}
  <span class="btn menubtn" data-matrix-fields>
    Choose a matrix field
  </span>

  <div class="menu">
    <ul>
      {% for field in matrixFields %}
        <li>
          <a data-matrix-field data-label="{{ field.name }}" data-value="{{ field.id }}">
            {{ field.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <span class="btn menubtn" data-block-types>
    Choose a block type
  </span>

  <div class="menu">
    <ul data-block-type-list>
      {% for blockType in blockTypes %}
        <li>
          <a data-block-type data-label="{{ blockType.name }}" data-value="{{ blockType.id }}">
            {{ blockType.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <ul data-entries></ul>
{% endset %}
