{% set title = "Matrix Finder" %}
{% includeJsResource "matrixfinder/js/index.js" %}
{% includeCssResource "matrixfinder/css/styles.css" %}

{% extends '_layouts/cp' %}
{% set content %}
  <span class="btn menubtn" data-matrix-fields>
    {% if selectedField %}
      {{ selectedField.name }}
    {% else %}
      Choose a matrix field
    {% endif %}
  </span>

  <div class="menu">
    <ul>
      {% for field in matrixFields %}
        <li>
          <a data-matrix-field data-label="{{ field.name }}" data-value="{{ field.id }}">
            {{ field.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <span class="btn menubtn" data-block-types>
    {% if selectedBlockType %}
      {{ selectedBlockType.name }}
    {% else %}
      Choose a block type
    {% endif %}
  </span>

  <div class="menu">
    <ul data-block-type-list>
      {% for blockType in blockTypes %}
        <li>
          <a data-block-type data-label="{{ blockType.name }}" data-value="{{ blockType.id }}">
            {{ blockType.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <ul data-entries>
    {% for entry in entries %}
      <li class="line-item {{ loop.index is even ? 'even' : 'odd' }}">
        <span class="line-item__title">{{ entry.title }}</span>
        <a href="{{ entry.editUrl }}" class="edit icon"></a>
        <a href="{{ entry.url }}" class="icon" data-icon="world"></a>
      </li>
    {% endfor %}
  </ul>
{% endset %}
